:root {
  /* Light Theme Farben */
  --bg-color: #fafafa;
  --text-color: #111111;
  --accent-color: #ff3d00;
  --lightgrey: #777;
  --contact-color: linear-gradient(135deg, #ffeae2, #fff5f0, #f8dcd1);
}

[data-theme="dark"] {
  /* Dark Theme Farben */
  --bg-color: #111111;
  --text-color: #f5f5f5;
  --accent-color: #ff3d00;
  --contact-color: linear-gradient(135deg, #222 0%, #111 50%, #222 100%);
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s ease, color 0.4s ease;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

p {
  margin: 0;
}

.fancy {
  color: var(--text-color) !important;
  background: var(--contact-color);
}

.accent {color:#ff3d00 !important;}

.mb-8 {
  margin-bottom: 8em;
}

.mb-10 {
  margin-bottom: 10em;
}

.image-fluid {
  max-width: 100%;
  height: auto;
}

.theme-toggle {
  background: none;
  color: var(--accent-color);
  padding: 0px 0px 0px 28px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

h5 {
  color: var(--lightgrey);
}

a {
  color: #ff3d00;
  text-decoration: none;
}

.navbar {
  padding: 2rem 0;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--text-color);
  letter-spacing: 0.5px;
}

.navbar-brand:hover {
  color: var(--accent-color);
}

.navbar-brand:active {
  color: var(--accent-color);
}

.navbar-brand:focus {
  color: var(--accent-color);
}

.nav-link {
  font-weight: 500;
  color: var(--text-color);
  font-size: 1.2rem;
  margin-left: 2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.nav-link {
  font-weight: 500;
  color: var(--text-color);
  font-size: 1.2rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #ff3d00 !important;
}

.nav-link.active {
  color: #ff3d00 !important;
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}

.nav-link:focus,
.nav-link:active {
  color: var(--accent-color);
  /* deine Wunschfarbe */
  outline: none;
  background: none;
}


.hero-section {
  min-height: 40vh;
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.textstyle {
  letter-spacing: 0.01em;
  line-height: 1.4em;
}

.hl1 {
  font-weight: 600;
  line-height: 1;
}

.hl2 {
  color: #757575;
  font-weight: 600;
  line-height: 1;
}

.hl3 {
  font-weight: 600;
}

.hl4 {
  color: #757575;
}

.hl6 {
  font-weight: 600;
  margin-bottom: 0;
}

.section-title {
  font-weight: 600;
  color: var(--text-color);
}


.project-card {
  cursor: pointer;
  transition: transform 0.3s ease;
  break-inside: avoid;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 100%;
  height: 400px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.project-image.large {
  height: 600px;
}

.ref-image {
  height: 400px;
  border-radius: 16px;
}

.project-info {
  padding: 0 0.5rem;
}

.project-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 0.25rem;
  margin-top:1.5rem
}

.project-category {
  font-size: 1.1rem;
  color: #999;
  margin-bottom: 0;
}


@media (max-width: 991px) {
  .project-image.large {
    height: 400px;
  }

  .masonry-column {
    margin-bottom: 1rem;
  }
}

.profile-pic {
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.experience-item {
  border-bottom: 1px solid #777;
  padding: 4em 0 4em 0;
}

.experience-item:first-child {
  padding: 0 0 4em 0;
}


.experience-item:last-child {
  border-bottom: none;
}

.experience-title {
  font-weight: 600;
  margin-bottom: 4px;
}

.experience-role {
  color: #444;
  font-weight: 500;
}

.experience-date {
  color: #777;
}

.contact {
  background: var(--contact-color);
  padding: 6em;
}

.footer {
  margin-bottom: 0 !important;
}

a.link {
  color: #ff3b00;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease;
}

.arrow {
  display: inline-block;
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

a.link:hover .arrow {
  transform: translateX(6px);
}

a.link:hover {
  color: #ff3b00;
}

a.headlink {
  color: var(--text-color);
  letter-spacing: 0.0125em;
  word-spacing: 0.0125em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease;
}

a.headlink:hover .arrow {
  transform: translateX(6px);
}

a.headlink:hover {
  color: var(--text-color)
}

.mobile {
  display: none;
}

.project {
  padding: 10rem 0 5rem 0;
}



@media (max-width: 767.98px) {

  .mobile {
    display: block;
  }

  .noshow {
    display: none;
  }

  .container {
    padding: 0 2.5em;
  }

    .mb-8 {
    margin-bottom: 6em;
  }

  .mb-10 {
    margin-bottom: 8em;
  }

  .navbar-nav {
    margin-top: 1em;
  }

  .nav-link {
    padding: 0.125em 0;
    margin: 0;
  }

  .theme-toggle {
    padding: 0;
    margin-right: 0.5em;
  }

  .hero-section {
    margin-bottom: 3em !important;
  }

  .profile-pic {
    margin-bottom: 3em;
    width: 120px;
    height: 120px;
  }

  .contact {
    padding: 2em;
  }

  .project {
    padding: 4rem 0 0rem 0;
}
}